################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/.vs/WIN32/v16/ipch/AutoPCH
/.vs/WIN32/v16
